nz-row + nz-row {
  margin-top: 2.5vh;
}

.statistic-row {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

nz-statistic {
  cursor: pointer;
}

nz-row:not(.statistic-row) {
  height: 50vh;
}

nz-row:not(.statistic-row) nz-col {
  height: 100%;
}

.color-info,
.color-warning,
.color-error,
.color-success {
  padding: 10px;
}

.color-info {
  transition: background-color 0.3s ease;
  background-color: transparent;
}

.color-info:hover {
  background-color: #1682e7;
}

.color-warning:hover {
  background-color: #faad14;
}

.color-error:hover {
  background-color: #cf4648;
}

.color-success:hover {
  background-color: #5AA454;
}

@media screen and (max-width: 1199px) {
  nz-row:not(.statistic-row) nz-col {
    height: auto;
  }
}
