<nz-table
    #basicTable
    nzTableLayout="fixed"
    nzShowSizeChanger
    [nzPageSize]="(settings$ | async)!.tablePageSize"
    [nzData]="(machines$ | async) || []"
    [nzScroll]="{ y: '70vh', x: '100%' }"
    (nzPageSizeChange)="onPageSizeChange($event)"
>
    <thead>
        <tr>
            <th
                *ngFor="let column of listOfColumns"
                [nzLeft]="!!column.left"
                [nzSortOrder]="column.sortOrder"
                [nzSortFn]="column.sortFn"
                [nzSortDirections]="column.sortDirections"
                [nzFilterMultiple]="column.filterMultiple"
                [nzFilterFn]="column.filterFn"
                [nzFilters]="column.listOfFilter"
            >
                {{ column.name }}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of basicTable.data">
            <td nzLeft>
                <a [routerLink]="['/machines', data.id]">{{ data.id }}</a>
            </td>
            <td>{{ data.machine_type }}</td>
            <td>{{ data.status }}</td>
            <td>{{ data.install_date }}</td>
            <td>{{ data.last_maintenance }}</td>
            <td>{{ data.floor }}</td>
        </tr>
    </tbody>
</nz-table>
