nz-layout {
  overflow: auto;
}

nz-layout nz-content .inner-content {
  height: auto!important;
}

.mapboxgl-map {
  height: 80vh!important;
  width: 99%!important;
}

.link {
  color: #1eaedb;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.padding {
  padding: 1rem;
}

.padding-top {
  padding-top: 1rem;
}

.padding-bottom {
  padding-bottom: 1rem;
}

.padding-left {
  padding-left: 1rem;
}

.padding-right {
  padding-right: 1rem;
}
